html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    float: left;
    height: 20%;
    width: 20%;
    position: absolute;
    z-index: 2;

}
#pano{
    float:left;
    height:100%;
    width: 60%;

}

.btn{
    display: block;
    width: 10vw;
}